<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>메인</title>

    <!-- 부트스트랩5 -->
    <link href="../static/css/bootstrap.min.css" th:href="@{/css/bootstrap.min.css}" rel="stylesheet">

    <!-- css추가 -->
    <link href="../static/css/styles.css" th:href="@{/css/styles.css}" rel="stylesheet">

</head>
<body>

<div th:replace ="~{layout :: header}"></div>

<main class="main-con">
    <section>
        <div class="container join-con">
            <div class="join-header divider-thin">
                <h3>회원가입</h3>
            </div>
            <div class="join-body">
                <form method="post" th:object="${memberDto}">
                    <h4 class="join-body-label">회원 정보 입력</h4>
                    <div class="d-grid">
                        <div class="pt-2 pb-1">아이디</div>
                        <input id="memberId" name="memberId" class="form-control" th:field="*{memberId}" placeholder="아이디를 입력해 주세요.">
                        <div class="member-info-error pt-1" th:errors="*{memberId}">에러</div>

                        <div class="pt-2 pb-1">비밀번호</div>
                        <input id="password" name="password" class="form-control" th:field="*{password}" placeholder="비밀번호를 입력해 주세요.">
                        <div class="member-info-error pt-1 pb-2" th:errors="*{password}">에러</div>

                    </div>
                    <div class="d-grid pt-2">
                        <button class="btn btn-success" type="submit">회원가입</button>
                    </div>
                </form>
            </div>
        </div>
    </section>
</main>

<div th:replace ="~{layout :: footer}"></div>


</body>
</html>