<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>메인</title>

    <!-- 부트스트랩5 -->
    <link href="/static/css/bootstrap.min.css" th:href="@{/css/bootstrap.min.css}" rel="stylesheet">

    <!-- css추가 -->
    <link href="/static/css/styles.css" th:href="@{/css/styles.css}" rel="stylesheet">

</head>
<body>

<div th:replace ="~{layout :: header}"></div>

<main class="main-con">
    <section>
        <div class="container join-con">
            <div class="join-header">
                <a class="d-flex justify-content-center" href="main.html" th:href="@{/}">
                    <img class="login-img-logo" src="/images/renbook_logo.png">
                </a>
            </div>
            <div class="">
                <form method="post" th:object="${loginDto}">
                    <div class="d-grid gap-2">
                        <input id="memberId" name="memberId" class="form-control" th:field="*{memberId}"  placeholder="아이디를 입력해 주세요.">
                        <div class="member-info-error" th:errors="*{memberId}">에러</div>
                        <input type="password" id="password" name="password" class="form-control" th:field="*{password}"  placeholder="비밀번호를 입력해 주세요.">
                        <div class="member-info-error" th:errors="*{password}">에러</div>
                    </div>
                    <div class="d-grid pt-2 gap-3">
                        <button class="btn btn-success" type="submit">로그인</button>
                        <button class="btn btn-success" type="button" th:onclick="|location.href='@{/join}'|">회원가입</button>
                    </div>
                </form>
            </div>
        </div>
    </section>
</main>

<div th:replace ="~{layout :: footer}"></div>

</body>
</html>