<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>메인</title>

    <!-- 부트스트랩5 -->
    <link href="../static/css/bootstrap.min.css" th:href="@{/css/bootstrap.min.css}" rel="stylesheet">

    <!-- css추가 -->
    <link href="../static/css/styles.css" th:href="@{/css/styles.css}" rel="stylesheet">

</head>
<body>

<!--<div th:replace ="header.html"></div>-->
<header>
    <!-- 로그인 가입 버튼 -->
    <div class="header-top">
        <div class="container">
            <div class="container">
                <div class="row justify-content-end">
                    <div class="col-auto" th:if="${loginMember == null}">
                        <a class="login-join-label me-3" href="login.html" th:href="@{/login}">로그인</a>
                        <a class="login-join-label" href="join.html" th:href="@{/join}">회원가입</a>
                    </div>
                    <div class="col-auto" th:if="${loginMember !=null}">
                        <a class="login-join-label" href="main.html" th:href="@{/logout}">로그아웃</a>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- 검색바 -->
    <div class="header-middle">
        <div class="container header-middle-con">
            <div class="col-2">
                <a class="d-flex justify-content-center" href="main.html" th:href="@{/}">
                    <img class="header-logo" src="/images/renbook_logo.png">
                </a>
            </div>

            <div class="col">
                <form method="get" action="/search" class="searchbar">
                    <input id="keyword" name="keyword" type="text" class="form-control"
                           placeholder="제목, 작가, 출판사 를 검색해 보세요.">
                    <button class="btn" type="submit" th:onclick="|location.href='@{/search(keyword=${keyword})}'|">
                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                             class="bi bi-search"
                             viewBox="0 0 16 16">
                            <path d="M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001q.044.06.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1 1 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0"/>
                        </svg>
                    </button>
                </form>
            </div>
        </div>
    </div>

    <!-- 네비게이션 탭 -->
    <div class="header-bottom">
        <div class="container">
            <ul class="nav">
                <li class="nav-item">
                    <a class="nav-link">베스트 도서</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link">신간 도서</a>
                </li>
                <li class="nav-item me-auto"></li>
                <li class="nav-item">
                    <a class="nav-link" th:href="@{/rental}">대여 목록</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" th:href="@{/heart}">찜목록</a>
                </li>
            </ul>
        </div>
    </div>

</header>

<main class="main-con">
    <!--검색 목록-->
    <section>
        <div class="container">
            <!--헤더-->
            <div class="search-top">
                <div class="search-top-label" th:text="전체 + ${totalBooks} + 건">전체 00 건</div>
            </div>
            <!-- 도서 목록 -->
            <div class="row row-cols-1 row-cols-sm-2 row-cols-md-4 row-cols-xl-6">
                <div class="col book-item-wrapper" th:each="findBook : ${findBooks}">
                    <div class="card text-center">
                        <a th:href="@{/detail/{bookNo}(bookNo=${findBook.bookNo})}">
                            <img class="card-img-top" src="/images/renbook_cover.png">
                        </a>
                        <div class="card-body">
                            <span class="book-label-title" th:text="장르">장르</span>
                            <a class="book-label-link" th:href="@{/detail/{bookNo}(bookNo=${findBook.bookNo})}">
                                <h3 class="card-title book-label-title" th:text="${findBook.bookTitle}">
                                    제목제목제목제목제목제목제목제목제목제목제목제목제목제목</h3>
                            </a>
                            <span class="book-label-author" th:text="${findBook.author}">저자</span>
                        </div>
                    </div>
                </div>
            </div>

            <!--페이징-->
            <div class="">
                <nav aria-label="Page navigation example">
                    <ul class="pagination justify-content-center">
                        <li class="page-item" th:classappend="${curPage == 1 ? 'disabled' : ''}">
                            <a class="page-link" th:href="@{/search(keyword=${keyword},page=${curPage - 1})}">이전</a>
                        </li>
                        <li th:each="pageNum : ${#numbers.sequence(startPage,endPage)}" class="page-item" th:classappend="${curPage == pageNum ? 'active' : ''}">
                            <a class="page-link" th:text="${pageNum}" th:href="@{/search(keyword=${keyword},page=${pageNum})}">1</a>
                        </li>
                        <li class="page-item" th:classappend="${curPage < totalPage ? '' : 'disabled'}">
                            <a class="page-link" th:href="@{/search(keyword=${keyword},page=${curPage + 1})}">다음</a>
                        </li>
                    </ul>
                </nav>
            </div>


        </div>
    </section>

</main>

<footer>
    <div class="footer-con">
        <div class="container">
            <div class="">
                <img class="row footer-logo" src="/images/renbook_logo.png">
                <span class="row pt-3">이메일 : minjae8737@gmail.com</span>
            </div>
        </div>
    </div>
</footer>

</body>
</html>